:root {
  --background-color: #404040;
  --glow-color: #7ed2cd;
  --glow-text-radius: 2px;
  --glow-box-radius: 2px;
}

.error {
  color: #ff4040;
}

@media screen and (orientation: landscape) {
  :root {
    --messagebox-width: calc(100% - 10em);
  }
}
@media screen and (orientation: portrait) {
  :root {
    --messagebox-width: 100%;
  }
}

body {
  margin: 0px;
  background-color: var(--background-color);
}

div#viewarea {
  width: 100dvw;
  height: 100dvh;
  margin: 0px;
}

div#controler {
  pointer-events: none;
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  margin: 0px;
  display: flex;
}
@media screen and (orientation: landscape) {
  div#controler {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}
@media screen and (orientation: portrait) {
  div#controler {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

div#controler > .button {
  pointer-events: auto;
  box-sizing: border-box;
  cursor: pointer;
  margin: 8px 8px;
  padding: 4px 4px;
  width: 6em;
  height: 32px;
  line-height: 22px;
  vertical-align: middle;
  backdrop-filter: blur(4px);
  background-color: rgba(from var(--glow-color) r g b / 0.1);
  color: var(--background-color);
  font-size: 10pt;
  font-family: sans-serif, serif;
  font-weight: bold;
  text-align: center;
  outline: none;
  border: 1px solid var(--glow-color);
  border-radius: 6px;
  box-shadow: 1px 1px var(--glow-box-radius) var(--glow-color), -1px 1px var(--glow-box-radius) var(--glow-color),
    1px -1px var(--glow-box-radius) var(--glow-color), -1px -1px var(--glow-box-radius) var(--glow-color);
  text-shadow: 1px 1px var(--glow-text-radius) var(--glow-color), -1px 1px var(--glow-text-radius) var(--glow-color),
    1px -1px var(--glow-text-radius) var(--glow-color), -1px -1px var(--glow-text-radius) var(--glow-color);
}

div#controler > .button:active {
  transform: translate(0px, 1px);
  background-color: rgba(from var(--glow-color) r g b / 0.5);
}

div#infoarea {
  pointer-events: none;
  box-sizing: border-box;
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
/*
            @media screen and (orientation: landscape) {
                div#infoarea {
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                }
            }
            @media screen and (orientation: portrait) {
                div#infoarea {
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-end;
                }
            }
            */

div#messagebox {
  pointer-events: auto;
  box-sizing: border-box;
  margin: 8px 16px;
  padding: 4px 4px;
  backdrop-filter: blur(4px);
  background-color: rgba(from var(--glow-color) r g b / 0.1);
  color: var(--glow-color);
  font-family: monospace;
  font-weight: bold;
  outline: none;
  border: 1px solid var(--glow-color);
  border-radius: 6px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 1px 1px var(--glow-box-radius) var(--glow-color), -1px 1px var(--glow-box-radius) var(--glow-color),
    1px -1px var(--glow-box-radius) var(--glow-color), -1px -1px var(--glow-box-radius) var(--glow-color);
  animation-name: messagebox-show;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
div#messagebox.hide {
  animation-name: messagebox-hide;
}
@keyframes messagebox-hide {
  0% {
    width: var(--messagebox-width);
  }
  100% {
    width: 2em;
  }
}
@keyframes messagebox-show {
  0% {
    width: 2em;
  }
  100% {
    width: var(--messagebox-width);
  }
}

div#message {
  margin: 0px;
  padding: 8px;
  height: 5em;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--glow-color) var(--background-color);
}

div#messagebox.hide > div#message {
  visibility: hidden;
}

div.progress {
  border: 1px solid var(--glow-color);
  background-color: rgba(from var(--glow-color) r g b / 0.8);
  margin: 4px 0px;
  padding: 0px 0px;
  height: 3px;
}
